{% extends "base.html" %}

{% block title %}Varieties{% endblock %}

{% block content %}
<div class="table-responsive mb-3">
    <h3>Varieties</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col"># trees</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for variety in all_varieties %}
            <tr>
                <th scope="row">{{variety['id']}}</th>
                <td>{{variety['name']}}</td>
                <td>{{variety['trees']|length}}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editVarietyModal{{variety['id']}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </button>
                    <div class="modal fade" id="editVarietyModal{{variety['id']}}" tabindex="-1" aria-labelledby="editVarietyModalLabel{{variety['id']}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="editVarietyModalLabel{{variety['id']}}">Edit Variety</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" class="needs-validation" id="editVarietyForm{{variety['id']}}" enctype="multipart/form-data" novalidate>
                                        <h3 class="mb-3">Variety factfile</h3>
                                        <input type="hidden" name="id" value="{{variety['id']}}" />
                                        <div class="mb-3">
                                            <label for="name" class="form-label">name</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="name"
                                                id="name"
                                                value="{{variety['name']}}"
                                                disabled
                                            />
                                        </div>
                                        {% for key in variety_keys %}
                                        {% if key != 'id' and key != 'name' and key != 'characteristics_id' and key != 'picture_filename' %}
                                        <div class="mb-3">
                                            <label for="{{key}}" class="form-label">{{key}}</label>
                                            <textarea
                                                class="form-control"
                                                name="{{key}}"
                                                id="{{key}}"
                                                placeholder="Enter {{key}}"
                                            >{% if variety[key] %}{{variety[key]}}{% endif %}</textarea>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        <div class="mb-3">
                                            <label for="picture" class="form-label">picture</label>
                                            {% if variety['picture_filename'] %}
                                            <br />
                                            <img src="{{url_for('api_bp.display_image', filename=variety['picture_filename'])}}" style="max-height: 300px;" />
                                            {% endif %}
                                            <br />
                                            <input type="file" name="picture" id="picture" accept="image/*" onchange="validateSize(this)" />
                                        </div>
                                        <h4 class="mb-3">Main characteristics</h4>
                                        {% for key in char_keys %}
                                        {% if key != 'id' %}
                                        <div class="mb-3">
                                            <label for="char_{{key}}" class="form-label">{{key}}</label>
                                            <input
                                                type="text"
                                                class="form-control"
                                                name="char_{{key}}"
                                                id="char_{{key}}"
                                                placeholder="Enter {{key}}"
                                                {% if variety.characteristics[key] %}value="{{variety.characteristics[key]}}"{% endif %}
                                            />
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" form="editVarietyForm{{variety['id']}}">Save changes</button>
                                </div>
                            </div>
                        </div>
                      </div>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteVarietyModal{{variety['id']}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                        </svg>
                    </button>
                    <div class="modal fade" id="deleteVarietyModal{{variety['id']}}" tabindex="-1" aria-labelledby="deleteVarietyModalLabel{{variety['id']}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteVarietyModalLabel{{variety['id']}}">Confirm</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        Are you sure you want to delete this variety (Variety ID = {{variety['id']}})?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-danger" onClick="deleteVariety({{variety['id']}})">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
